doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="/assets/lib/mocha/main/mocha.css")
  body
    h1 hello world
    #mocha
    script(src="/assets/lib/mocha/main/mocha.js")
    script(src="/assets/lib/assert/2.0.0/assert.js")
    script: :lsc
      assert = require('assert')
      mocha.setup do
        ui: \bdd
        reporter: \json
      # mocha use `it` which conflict with LiveScript `it` parameter.
      that = it
      describe \array, ->
        describe '#indexOf()', ->
          that "should return -1 when the value is not present", ->
            assert.equal [1,2,3].indexOf(4), -1

      ret = mocha.run!
      ret.on \end, ->
        setTimeout (-> 
          window.result = ret.testResults
          report window.result
        ), 3000
